position: absolute; width: 211px; height: 43px; left: 1165px; top: 553px; background: #484759; border-radius: 8px;.btn-icon-split {
}

.btn-icon-split {
  /*position: absolute;*/
  width: 211px;
  height: 43px;
  left: 1165px;
  top: 553px;
  background: #484759;
  border-radius: 8px;
}

